<section class="bg-primary" id="about">
<div>
        <div class="container">
            <div class="jumbotron d-inline-block">
                <h1>Optimised Websites and Internet Marketing </h1>
                <h1 style="font-size:24px;">Affordable Solutions for Entrepreneurs, Marketers and Small Business Owners</h1>
                <p>Too many people blow their precious budget on unecessary 'Design' only to discover, too late, that the money would have been better spent to achieve tangible results that help to grow their business.</p>
                <p>I work with you to ensure that you get what you need to move forward towards growth and profit. Everyone is limited by budget but not everone spends that budget wisely. Below you will see some common reasons people come to work with me.</p>
                <p>So many businesses like yours are not reaching their potential because of a lack of knowledge. My mission is to give you the knowledge to manage your Internet Marketing or manage someone to do it for you.</p>
                <p>If you are just starting out it is crucial to keep costs to a minimum. Take a look at my solution packages to see just how much you can get without breaking the bank.</p>
                <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#1e6add;">
                            <h5 class="text-white mb-0">I Need a Website</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="font-size:18px;">I need a website that works for me today and continues to perform well as we grow and get more traffic.</p>
                            <p class="card-text" style="font-size:18px;">I am just starting out as a solo entrepreneur and I need a professional website to market my services.</p>
                            <p class="card-text" style="font-size:18px;">I have been using a facebook page to market my business but now I need my own place on the internet. I want to market and grow my business without limitations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#1e6add;">
                            <h5 class="text-white mb-0">My Website Needs a Tune-Up</h5></div>
                        <div class="card-body">
                            <p class="card-text">Our customers tell us that our website loads too slowly. So slow we are probably loosing visitors before they see our offer.</p>
                            <p class="card-text">I have no easy way to update my website.</p>
                            <p class="card-text">I need HTTPS, my website is not secure. I need to sort this out as soon as possible. We are losing visitors and search engine ranking.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                        <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#1e6add;">
                            <h5 class="text-white mb-0">My Website Needs a Redesign</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="font-size:18px;">My website is a disaster, it looks dated, is a pain to update, is super slow and does not serve pages over a secure connection.</p>
                            <p class="text-left description" style="font-size:18px;color:#313437;">My website looks terrible and is impossible to use on devices with smaller screens.</p>
                            <p class="card-text" style="font-size:18px;">My website looks great but does not generate enquiries. I don't even know if it gets any visitors.</p>
                            <p class="card-text" style="font-size:18px;">My website attracts the wrong kind of enquiries.</p>
                            <p class="card-text" style="font-size:18px;">My customers complain that my website is not as useful as it should be.</p>
                            <p class="card-text" style="font-size:18px;">My website does not feature in search engine results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#1e6add;">
                            <h5 class="text-white mb-0">My Website Needs Additional Functionality</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="font-size:18px;">I want to collect email addresses and send timely and useful emails to subscribers. I heard email marketing is the best value method to drive traffic back to a website. </p>
                            <p class="card-text" style="font-size:18px;">I need a better way of updating my website. </p>
                            <p class="card-text" style="font-size:18px;">I want to show my customers a real time list of our product/service inventory.</p>
                            <p class="card-text" style="font-size:18px;">I want real time chat on my website to offer instant customer support. </p>
                            <p class="card-text" style="font-size:18px;">I want to record customer action on my website to get an insight to how they interact with our offers and information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
